body {
    margin: 0;
    background-color: black;
    font-family: Helvetica, sans-serif;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    box-sizing: border-box;
}

/* Header */

header {
    position: fixed;
    height: 69px;
    width: 100%;
    padding-top: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    z-index: 10;
}

    /* Logo */

.logo img{
    height: 50px;
    padding-left: 10px;
}

    /* Navigation */

nav ul li {
    text-decoration: underline;
    display: inline;
    padding: 10px 10px;
}

a:link {
    color: seashell;
}

a:visited {
    color: grey;
}

a:hover {
    color: #ada29b;
}

/* Main */

main {
    padding-top: 69px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

    /* Hero banner */

#hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 2;
    position: relative;
    height: 700px;
    width: 1200px;
    background-image: url('../images/img-mission-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #000000cc;
    line-height: 25px;
}

    /* Featured Tea */

#feature {
    max-width: 1000px;
    margin: 50px 0;
    padding: 10px 0;
    border-top: 1px solid seashell;
    border-bottom: 1px solid seashell;
    text-align: center;
}

.feature-teas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-panel {
    display: flex;
    flex-direction: column;
}

.feature-panel img {
    height: 200px;
    width: 300px;
    margin: 0 10px 15px 15px;
}

.feature-panel h5 {
    margin-top: 0px;
    line-height: 1;
}

/* Locations */

#locations {
    height: 600px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../images/img-locations-background.jpg);
    background-position: top;
    }

.location-title {
    margin-bottom: -45px;
    text-align: center;
    width: 100%;
    line-height: 0.5;
}

.location-panel-container {
    display: flex;
    margin-bottom: 180px;
    justify-content: space-around;
}

.location-panel {
    height: 300px;
    width: 300px;
    margin: 0px 20px;
    line-height: 2;
    background-color: #000000cc;
    text-align: center;
}

.location-panel .downtown {
    margin-left: 200px;
}

.location-panel .oakdale {
    margin-right: 20px;
}

    /* Contact */

#contact {
    height: 200px;
    max-width: 1000px;
    text-align: center;
}

#contact h2 {
    width: 1000px;
    padding-bottom: 25px;
    border-bottom: 1px solid seashell;
}

/* Footer */

footer {
    position: relative;
    padding-left: 10px;
    top: 61px;
    width: 100%;
}

footer h5 {
    text-align: left;
    padding-bottom: 20px;
}